#carrito--main--buttons{
  width: 100%;
  height:50%;
  padding: 0;
  margin:10rem 0 0 0;
  position: relative;
  display: grid;
  grid-template-rows: 0% 80%;
  grid-template-columns: 100%;
  grid-template-areas: "carritoH2" "carrito--main";

}
#carrito--main--buttons h2{
  width: auto;
  height: 3rem;
  position: relative;
  margin-top: 2rem;
  grid-area:carritoH2;
}
.carrito--main--waves{

  height: auto;
  grid-area: carrito--main;
}

.waves--carrito{
  width: 100%;
  position: relative;
  bottom: 0;
  box-sizing: content-box;
  top:0;
  height: auto;
  margin: 0;
  padding: 0;

}
.carrito--buttons{
  width: 90%;

  margin: auto;
  position: relative;
  bottom: 3rem;
  padding: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:flex-start;
  grid-area: carrito--main;
}
.carrito--buttons--icons{
  width: 9em;

}
.carrito--buttons--icons div{
  width: 90px;
  height: 90px;
  border-radius: 100%;
margin: auto;
border-width: 10px;

display: flex;

align-items: center;
padding:0;
  border-style: double;
  border-color: white;
  background-color: #ED213A;
}
.carrito--buttons--icons div:hover{
  cursor:pointer;
  background-color: white;
  filter: invert(1%) sepia(42%) saturate(252%) hue-rotate(344deg) brightness(103%) contrast(102%);

}
.carrito--buttons--icons img{
  width: 50px;
  height: 50px;
  position: relative;
  margin: auto;

}
.carrito--buttons--icons h4{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}
